body {
 background-size: cover;
 max-height: 100%;
 margin: 0;
}

#grad21 {
  --21g-serif: 'Corben', serif;
  --21g-sans: 'Work Sans', sans-serif;
  --21g-teal: #2DEEE5;
  --21g-green: #6EC540;
  --21g-white: 255, 255, 255;
  --21g-grad: linear-gradient(45deg, var(--21g-green), var(--21g-teal));
  --21g-tran: ease 0.6s;
  height: 100vh;
  font-family: var(--21g-serif);
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  background: var(--21g-grad);
}

#hero, #info {
 height: auto;
}

#grad21 .btn {
  text-align: center;
  padding: 10px 20px;
}

#grad21 a {
  font-family: var(--21g-sans);
  color: rgb(var(--21g-white),0.7);
  padding: 0 1px;
  transition: var(--21g-tran);
}

#grad21 a:hover {
    color: rgb(var(--21g-grad),1);
}

#grad21 h1, #grad21 h2, #grad21 h3 {
  color: rgb(var(--21g-white));
  font-family: var(--21g-serif);
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 0;
}

#grad21 h1 {
 font-size: 4rem;
 margin-bottom: -1.5rem;
}

#hero { border: 1px solid yellow; padding: 1em; }
#info { border: 1px solid red; padding: 2em 0; }

@media screen and (min-width: 64em) {
 #grad21 { padding: 8em 10em; } 
 #info { flex-grow: 2; } 
 #hero { order: 2; } 
 #hero img { max-width: 400px; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  #grad21 { padding: 6em; } 
  #info { flex-grow: 1; } 
  #hero { order: 2; } 
  #hero img { max-width: 200px; } }

@media screen and (max-width: 42em) {
  #grad21 { padding: 3em; } } 
  #hero { order: 1; } 
  #hero img { max-width: 150px; }}

p {
 line-height: 1.25;
 margin: 0;
}
